extends layout

block content
  <h1 class='main-title'> Create directory
  <form class='form' action='/create-directory' method="post">
     <p><input type="text" required name="nameFolder" placeholder='name of folder'> <br>
     <input type="submit" value="Create"></p>
  </form>
