extends layout

block content
  <h1 class='main-title'> Simple file hoisting </h1>
  <ul class="main-menu">
    <li class='main-menu_item'> Upload image <a href='http://localhost:3000/upload'>Click</a> </li>
    <li class='main-menu_item'> Show directories <a href='http://localhost:3000/directories'>Click</a> </li>
    <li class='main-menu_item'> Show all files <a href='http://localhost:3000/files'>Click</a> </li>
    <li class='main-menu_item'> Create directory <a href='http://localhost:3000/create-directory'>Click</a> </li>
  </ul>
